.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-grid {
    display: grid;
}

.display-inline-block {
    display: inline-block;
}






a {
    text-decoration: none;
}

button {
    border: 0;
    outline: none;
}


::-webkit-scrollbar {
    width: 2px;
    background-color: var(--Grey-5);
}

::-webkit-scrollbar-thumb {
    background-color: var(--Grey-20);
    width: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}