


#Responsive_Open_sidebar {
    display: none;
}


#Responsive_Close_sidebar {
    display: none;
}






.main-content-body .content-section {
    width: 98%;
    max-width: 1280px;
    margin: 0 auto;
}

.tab-list {
    display: flex;
    align-items: stretch;
    gap: 4px;
    list-style: none;
    padding: 0;
    margin-bottom: 16px;
}

.tab-list .tab-button {
    color: var(--Grey-50);
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    background-color: transparent;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99999px;
    cursor: pointer;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}

.active-tab-button {
    color: var(--Grey-90) !important;
    background-color: var(--Grey) !important;
    border: 1px solid #E5E7EB;
}


.table-content {
    padding: 24px 0px 32px 0px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #E5E7EB;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: var(--Grey);
}

.table-header {
    border-bottom: 1px solid #E5E7EB;
    padding: 0 32px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.table-header .title {
    color: var(--Grey-90);
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.table-header .table-options {
    display: flex;
    align-items: center;
    gap: 22px;
}

.search-wrraper {
    background-color: var(--Grey-5);
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 8px;
}

.search-wrraper .icon {
    background-color: transparent;
}

.search-wrraper input {
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding: 4px 0;
    color: var(--Grey-90);
}

.search-wrraper input::placeholder {
    color: var(--Grey-40);
}

.table-about-tag {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tagline {
    color: var(--Grey-90);
    font-size: 13px;
    font-weight: 500;
    line-height: 24px
}

.table-about-tag .icon {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    background-color: transparent;
}

.table-about-tag .icon .main-icon {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: var(--Grey-10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.table-about-tag .icon .main-icon img,
.table-about-tag .icon .main-icon svg {
    width: 18px;
    height: 18px;
}

.table-footer {
    padding: 24px 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.table-footer .all-items-list-count {
    padding: 6px 12px;
    color: var(--Grey-50);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.table-pagination {
    display: flex;
    align-items: center;
    gap: 24px;
}

.table-pagination .total-pages-count {
    font-size: 13px;
    color: var(--Grey-50);
    font-weight: 500;
    line-height: 20px
}

.table-pagination .pagination-btn {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    border: 1px solid transparent;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    color: var(--Grey-50);
}

.table-pagination .pagination-btn:hover {
    background-color: var(--Grey-10);
}

.pagination-btn-disabled {
    cursor: no-drop !important;
    color: var(--Grey-40) !important;
}

.pagination-btn-group {
    display: flex;
    align-items: stretch;
    gap: 4px;
}

.main-table {
    width: 100%;
    overflow-x: auto;
}

.main-table tr {
    width: 100%;
    padding: 8px 32px;
    border-bottom: 1px solid #E5E7EB;
    display: table;
}

.main-table tr th {
    font-size: 13px;
    font-weight: 500;
    color: var(--Grey-50);
    line-height: 20px;
}

.main-table .product-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.main-table .product-item img {
    width: 30px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.main-table .product-item .items-name {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Grey-90);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.main-table .product-variants {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.main-table .product-variants p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--Grey-50);
    position: relative;
    padding: 0 6px;
}

.main-table .product-variants p:after {
    content: "";
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background-color: var(--Grey-50);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-table .product-variants p:nth-last-child(1):after {
    display: none;
}

.main-table .text-light {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Grey-50);
}

.main-table tr td {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Grey-90);
}

.main-table .item-section {
    text-align: left;
    width: 20%;
}

.main-table .variants-section {
    text-align: left;
    width: 20%;
}

.main-table .SKU-section {
    text-align: left;
    width: 14%;
}

.main-table .blank-section {
    width: 10%;
}

.main-table .incoming-section {
    width: 12%;
    text-align: right;
}

.main-table .committed-section {
    width: 12%;
    text-align: right;
}

.available-section {
    width: 12%;
    text-align: right;
}

/* close main content  */